@using EquineElegance.Entities

@{
    ViewBag.Title = "Winkelkar";
}

<h2 class="text-center">Winkelkar</h2>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

@if (Session["cart"] != null)
{
    Cart cart = (Cart)Session["cart"];
    if (cart.CartItems != null && cart.CartItems.Any())
    {
        <div class="cart-container">
            <table class="cart-table">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Aantal</th>
                        <th>Prijs</th>
                        <th>Acties</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in cart.CartItems)
                    {
                        <tr>
                            <td>
                                <strong>@item.Product.Name</strong><br />
                            </td>
                            <td>@item.Amount</td>
                            @{
                                decimal productPrice = item.Amount * item.Product.Price;
                            }
                            <td>€@productPrice</td>
                            <td>
                                @Html.ActionLink("+", "IncreaseQuantity", "Cart", new { productId = item.Product.ProductId, productType = item.ProductType }, new { @class = "btn btn-sm btn-success" })
                                @Html.ActionLink("-", "DecreaseQuantity", "Cart", new { productId = item.Product.ProductId, productType = item.ProductType }, new { @class = "btn btn-sm btn-warning" })
                                @Html.ActionLink("Verwijderen", "RemoveProduct", "Cart", new { productId = item.Product.ProductId, productType = item.ProductType }, new { @class = "btn btn-sm btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="cart-summary">
                <form action="@Url.Action("ApplyDiscountCode", "Cart")" method="post" class="discount-form">
                    <label for="discountCode">Kortingscode:</label>
                    <input type="text" id="discountCode" name="discountCode" class="form-control" />
                    <button type="submit" class="btn btn-primary mt-2">Voeg kortingscode toe</button>
                </form>

                @{
	                decimal originalTotal = cart.CartItems.Sum(item => item.Product.Price * item.Amount);
	                decimal discountedTotal = originalTotal - ViewBag.Discount;
                }
                <p>
	                Kortingscode: @ViewBag.DiscountCode <br />
	                Oorspronkelijke prijs: €@originalTotal <br />
	                Korting: €@ViewBag.Discount <br />
	                Totaalprijs na korting: €@discountedTotal
                </p>


                @Html.ActionLink("Kar leegmaken", "ClearCart", "Cart", new { }, new { @class = "btn btn-danger" })
            </div>
        </div>
    }
    else
    {
        <p class="text-center">Uw winkelkar is leeg.</p>
    }
}
else
{
    <p class="text-center">Uw winkelkar is leeg.</p>
}
