@{
	ViewBag.Title = "Quick Create Products";
}

<h2>Snel aanmaken voor producten</h2>

<p>Selecteer het product dat je wilt aanmaken.</p>

<ul class="quick-create-list">
	<li>@Html.ActionLink("Cap Product", "Create", "Cap")</li>
	<li>@Html.ActionLink("Rijbroek Product", "Create", "RidingPant")</li>
	<li>@Html.ActionLink("Deken Product", "Create", "Blanket")</li>
	<li>@Html.ActionLink("Dekjes Product", "Create", "SaddlePad")</li>
	<li>@Html.ActionLink("Voederbak Product", "Create", "Feeder")</li>
	<li>@Html.ActionLink("Zadelkamer Product", "Create", "TackRoom")</li>
</ul>